# Ignore any non-source python files
*.py[cod]

# Ignore virtualenv stuff
bin
include
lib
lib64

# Ignore python setup stuff
sdist
develop-eggs
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Config file
megworld_config.json

# Ignore compiled translations
*.mo

# Ignore database files
*.db
